
/* Carousel Settings */


.carousel-caption {
        padding: 10px 25px 35px 25px;
      /*  text-shadow: 2px 2px #ff0000;  */
        color: black;
        left: 10%;
        right: 10%;
        -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
         border-radius: 3px;
        
 }
 
 #myCarousel{
 background-color: #ccccff;
 }